<div class="container mt-5 py-5">
    <h1 class="mb-4">Carrito de compras</h1>
    {{#if result}}
    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>ID del carrito:</strong> {{result._id}}</p>
            <ul class="list-group">
                {{#each result.products }}
                <li class="list-group-item d-flex align-items-center justify-content-around gap-2 p-4">
                    <div>
                        <img src={{this._id.thumbnail}} alt="producto imagen" width="220px" height="250px">
                    </div>
                    <div>
                        <h3 class="mb-4">{{this._id.title}}</h3>
                        <p class="mb-3">{{this._id.description}}</p>
                        <div class="d-flex align-items-center justify-content-around">
                            <p class="mb-1"> <span class="text-dark fw-bold">Categoria:</span> {{this._id.category}}</p>
                            <p class="mb-1"><span class="text-dark fw-bold">Cantidad:</span> {{this.quantity}}</p>
                            <p class="mb-1"><span class="text-dark fw-bold">Precio:</span> ${{this._id.price}}</p>
                            <button class="btn btn-danger" data-product-id="{{this._id}}"">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg> Eliminar
                            </button>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    {{else}}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">El carrito esta vacio</h4>
        <p>{{message}}</p>
    </div>
    {{/if}}
</div>
<div id="productsCart"></div>

<script src="js/sendCart.js"></script>